{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'boards/css/layout/main_layout.css' %}" rel="stylesheet">
{% block page_css %}{% endblock %}
{% endblock %}

{% block layout %}
{% include 'components/boards/navbar_main.html' %}
{% include 'components/boards/sidebar_main.html' %}

<main class="tb-main">
    {% block content %}{% endblock %}
</main>
{% include 'components/boards/change_task_modal.html' %}
{% include 'components/boards/create_task_modal.html' %}
{% include 'components/boards/create_category_modal.html' %}
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
<script src="{% static 'boards/js/layout/main_layout.js' %}"></script>
{% block page_js %}{% endblock %}
{% endblock %}